.App {
  display: grid;
  grid-template-rows: 50px 300px;

  font-family: sans-serif;
  justify-content: center;
}

input {
  height: 26px;
  border: 1px solid rgb(199, 196, 196);
  border-radius: 5px;
  outline: none !important;
}

span {
  color: grey;
}

button {
  border-radius: 15px;
  font-weight: 700;
  color: white;
  background-color: rgb(32, 173, 32);
  outline: none !important;
  border: 1px solid grey;
  height: 30px;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 57%;
  border: 1px solid rgb(214, 211, 211);
}

li:hover {
  background-color: rgb(190, 183, 183);
}

.weather-layout {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.weather-body {
  width: 200px;
  padding: 5px 0;
  height: 300px;
  text-align: center;
}

.city-row {
  font-weight: 700;
  text-transform: capitalize;
  padding: 5px;
}

.description-row {
  font-weight: 500;
  text-transform: capitalize;
  font-style: italic;
  padding: 5px;
}

.temperature-row {
  font-weight: 700;
  font-size: 50px;
  padding: 5px;
}

.weather-body:hover {
  cursor: pointer;
  opacity: 0.5;
}

.weather-image {
  width: 100px;
}

.fiveday-weather-layout {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
}
